<%= form_with model: product_category do |f| %>
    <% if product_category.errors.any?%>
        <h4>Não foi possível. Encontramos alguns erros:</h4>
        <ul>
            <% product_category.errors.full_messages.each do |message|%>
                <li><%= message %></li>
        </ul>
            <% end %>
    <% end %>

    <div>
        <%= f.label :name, "Nome"  %>
        <%= f.text_field :name %>
    </div>
    <div>
        <%= f.label :code, "Código"  %>
        <%= f.text_field :code %>
    </div>
    <%= f.submit btn_text %>
    <% end%>