<h3><%= @product_category.name %></h3>
<dl>
    <dt>Nome</dt>
    <dd><%= @product_category.name %></dd>
    <dt>Código</dt>
    <dd><%= @product_category.code %></dd>
</dl>

<%= link_to 'Voltar', product_categories_path %>

<%= flash[:notice] %>
