<p><%= I18n.t('.devise.passwords.reset_password_instructions.welcome') %> <%= @resource.email %>!</p>

<p><%= I18n.t('.devise.passwords.reset_password_instructions.message') %></p>

<p><%= link_to I18n.t('.devise.passwords.reset_password_instructions.button'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= I18n.t('.devise.passwords.reset_password_instructions.message_not_requested') %></p>
<p><%= I18n.t('.devise.passwords.reset_password_instructions.message_wont_change') %></p>
