<% if @promotions.empty? %>
    <h3>Nenhuma <%= t("activerecord.models.promotion.one") %> cadastrada</h3>
<% end%>

<% @promotions.each do |promotion| %>
    <h3><%= link_to promotion.name, promotion %></h3>
    <dl>
        <dt><%= Promotion.human_attribute_name(:description) %></dt>
        <dd><%= promotion.description %></dd>
        <dt><%= Promotion.human_attribute_name(:discount_rate) %></dt>
        <dd><%= number_to_percentage promotion.discount_rate, precision: 2 %></dd>
    </dl>
        <%= link_to "Editar #{t("activerecord.models.promotion.one")}", edit_promotion_path(promotion.id) %>
        <%= link_to "Deletar #{t("activerecord.models.promotion.one")}", promotion_path(promotion.id), method: :delete %>
<% end %>

<%= link_to 'Voltar', root_path %>
<%= link_to "Registrar #{t("activerecord.models.promotion.one")}", new_promotion_path %>

<%=form_with url: search_promotions_path, method: :get do |f| %>
    <%= f.label :q, 'Busca' %>
    <%= f.text_field :q %>
    <%= f.submit 'Buscar' %>
<% end %>