<h3><%= @promotion.name %></h3>
<dl>
    <dt><%= Promotion.human_attribute_name(:description) %></dt>
    <dd><%= @promotion.description %></dd>
    <dt><%= Promotion.human_attribute_name(:discount_rate) %></dt>
    <dd><%= number_to_percentage @promotion.discount_rate, precision: 2 %></dd>
    <dt><%= Promotion.human_attribute_name(:code) %></dt>
    <dd><%= @promotion.code %></dd>
    <dt><%= Promotion.human_attribute_name(:expiration_date) %></dt>
    <dd><%= @promotion.expiration_date.strftime '%d/%m/%Y' %></dd>
    <dt><%= Promotion.human_attribute_name(:coupon_quantity) %></dt>
    <dd><%= @promotion.coupon_quantity %></dd>
</dl>
<% if @promotion.coupons.empty? %>
    <%= link_to "Gerar #{t('activerecord.models.coupon.other')}", generate_coupons_promotion_path(@promotion), method: :post %>
<% end %>

<%= link_to 'Voltar', promotions_path %>


<% @promotion.coupons.each do |coupon|%>
    <p><%= coupon.code %></p>
<% end %>
